body {
    width: 70%;
    text-align: justify;
}

h1 {
    font-family: sans-serif;
    font-size: 32px;
}

h2,h3 {
    font-family: sans-serif;
}

table {
    border: 1 px black;
}

figcaption {
    font-style: italic;
    text-align: center;
}

figure {
    float: right;
}